/* NavBar.module.css */
.navbar {
  display: flex;
  height: 8%;
  align-items: center;
  justify-content: space-around;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #579076;
  padding: 10px 0;
  z-index: 5;
  color: white;
}

.navItem {
  font-size: 24px;
  cursor: pointer;
  flex: 1;
  text-align: center;
}

.navItem:hover {
  color: #B6EEA6;
  border-radius: 10px;
  transition: color 0.3s ease;
}
